<div class="sidebar">

    <div class="menu">

        <a routerLink="/home"
           routerLinkActive="active">

            <i class="fas fa-house"></i>

            <span>Home</span>

        </a>

        <a routerLink="/dashboard"
           routerLinkActive="active">

            <i class="fas fa-chart-line"></i>

            <span>Dashboard</span>

        </a>

        <a routerLink="/employee"
           routerLinkActive="active">

            <i class="fas fa-users"></i>

            <span>Employees</span>

        </a>

        <a routerLink="/profile"
           routerLinkActive="active">

            <i class="fas fa-user"></i>

            <span>Profile</span>

        </a>

        <a routerLink="/settings"
           routerLinkActive="active">

            <i class="fas fa-gear"></i>

            <span>Settings</span>

        </a>

    </div>

    <div class="bottom">

        <div class="security">

            <i class="fas fa-shield-halved"></i>

            <h3>Secure Authentication</h3>

            <p>Microsoft Entra ID</p>

        </div>

    </div>

</div>